#main{
    margin: 120px 0px 30px;   
    transform: translateX(75px) perspective(500px) rotateY(30deg);
}
@keyframes borda {
    0%{
        --angle: 0deg;
    }
    100%{
        --angle: 360deg;
    }
}
@keyframes giro {
    to{
        transform: rotateY(180deg);
    }
    
}
